CONFIG_ARM=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_NXP_LPC176X5X=y
CONFIG_SOC_NXP_LPC176X5X_EXT_MAINCK=y
CONFIG_SOC_NXP_LPC176X5X=y
CONFIG_BOARD_LPCEXPRESSO_1769=y
CONFIG_UART_NXP_LPC1XXX=y
